<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: middle;
  width: 33%;
  height: 1000px;
  padding: 10px;
  margin: 1px;
  border-style: groove;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
    text-align: center;
}
</style>
</head>

<div class = "row">
    <div class = "column">
        <div class = "content">
            <h1 style>
                <%= comic.title %>
            </h1>
            <% if comic.cover.attached? %>
                <div>
                    <image src="<%=(url_for(comic.cover))%>" style = "border: 3px solid black">
                </div>
            <% end %>
                <h2>Comic Info</h2>
                <p>Stars:</p>
                <p>Likes:</p>
                <p><h3>Summary:</h3><%= comic.description %></p>
        </div>
    </div>

    <div class = "column">
        <div class = "content">
            <h2>Reviews</h2>
        </div>
    </div>

    <div class = "column">
        <div class = "content">
            <button class = "button"><%= link_to 'Read', page_path(page: 1)%></button>
            <h2>Disscusion</h2>
        </div>
    </div>
</div>




